/*all links on web*/
a {
    color: #272882;
}
a:hover {
    text-decoration: none;
    color: #F05B29;
}

/*main menu*/
.navbar-main {
    background-color: #272882;
}
.navbar-toggle {
    color: white;
}
.navbar-toggle.collapsed:hover, .navbar-toggle.user-toggle:hover {
    background-color: #F05B29;
}

/*home info boxed */
.dashboard-widget-container .widget-heading {
    /*border-top: 3px solid #272882 !important;*/
    border-top: none !important;
    background-color: transparent;
}
.widget-heading .circle-bg {
    background-color: #F05B29 !important;
}
.dashboard-widget-container .logged-in .widget-heading p {
    color: #272882;
}
.dashboard-widget-container .logged-in .widget-detail {
    background-color: #272882 !important;
}
.panel-secondary .panel-heading-nested, .panel-secondary > .panel-heading {
    border-bottom: 2px solid #272882;
}

/*form login */
#sb-loginbox .panel-default {
    border-color: #eee;
}
#sb-loginbox .panel-default .panel-heading {
    display: none;
}
#sb-loginbox .panel-default .panel-heading .help {
    display: none;
}

/*all buttons on web*/
.btn-primary {
    color: white;
    font-size: 1.1em;
    background-color: #272882;
    border: none;
}
.btn-primary:hover {
    background-color: #F05B29;
}
.alert-success {
    color: #272882;
    background-color: rgba(217, 224, 204, 0.74);
    border-color: rgba(39, 40, 130, 0.55);
}

/*active button*/
.form-switch input:checked + .switch-label .switch-indicator {
    background-color: rgba(47, 186, 0, 0.79);
    border: 1px solid rgba(42, 67, 0, 0.86);
}

/*dropdown menu top*/
.navbar-main .navbar-nav > li > a {
    color: #272882;
}
.navbar-main .navbar-nav > li > a:hover {
    color: #F05B29;
}
.navbar-main .child-nav li > a {
    color: #272882;
}
.navbar-main .child-nav li > a:hover {
    color: #F05B29;
}

.navbar-main .codegym-system {
    float: left;
    margin: 20px 0;
    color: #fff;
}

.navbar-main .codegym-item {
    margin-top: 17px;
    padding: 0;
}

.navbar-main .codegym-item li > a{
    color: #272882;
    height: 43px;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-main .codegym-item li > a:hover {
    color: #F05B29;
}

/*tabs in profile page*/
.nav-tabs > li.active > a {
    color: #272882;
    border-bottom: 3px solid #F05B29;
}
.nav-tabs > li.active > a:hover {
    color: #F05B29;
    border-bottom: 3px solid #F05B29;
}
.nav-tabs.nav li > a:hover {
    color: #F05B29;
    border-bottom: 3px solid #F05B29;
}

/*form user*/
.sidebar .panel-default {
    border-color: #272882;
}
.sidebar .panel-default > .panel-heading {
    color: white;
    font-weight: bold;
    background-color: #272882;
    border-color: #272882;
}
.text-midtone {
    color: white;
}
/**star**/
.icon-check-circle:before {
    content: url("../images/3star.png");
}
.icon-times-circle:before {
    content: url("../images/1star.png");
}
.icon-adjust:before {
    content: url("../images/2star.png");
}
.icon-circle-o:before {
    content:"";
    color: #AAAAAA;
    font-size: 1.5em; cursor: default; padding: 0px 5px;" aria-hidden="false; display: inline;
}
